.container {
    height: 18rem;
    width: 60rem;
    overflow: auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box {
    border: 0.1rem solid var(--theme);
    width: 100%;
    height: calc(95% / 3);
    font-size: 2rem;
    border-radius: 0.5rem;
    overflow: auto;
    color: var(--secondary);
    display: grid;
    place-items: center;
}

.stat_box {
    border: 0.1rem solid var(--theme);
    width: 49.7%;
    font-size: 2rem;
    border-radius: 0.5rem;
    overflow: auto;
    color: var(--secondary);
    display: grid;
    place-items: center;
}

.stats {
    height: calc(95% / 3);
    display: flex;
    justify-content: space-between;
}

.container_mobile {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.box_mobile {
    margin: 1rem;
}

.stats_mobile {
    width: 100%;
    margin: 1rem 0;
}